{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'core/css/login.css' %}">
<title>Registro de usuario</title>
<body background="{% static 'core/genericas/mazda.jpg' %}">
    <!------ Include the above in your HEAD tag ---------->

    <div class="container login-container" style="background: aquamarine" >
        <div class="row">
            <div class="col-md-8 login-form-1">
                <h3>Registro de nuevo usuario</h3>

               
                <form action="" method="POST">
                    {% csrf_token %}
                    <table>
                        {{ form }}
                    </table>
                    <button type="submit" id="btnEnviar" class="btn btn-info" href="/">Registrar</button>

                </form>
              {{mensaje}}
            </div>

        </div>
    </div>
</body>