{% extends 'core/base.html' %}
{% load static %}
{% block css %}
<title>INICIO</title>
<link rel="stylesheet" href="{% static 'core/css/index.css' %}">
{% endblock %}

<!-- BLOC NAV -->
{% block nav%}
<a class="nav-item nav-link active" href="{% url 'index' %}">INICIO <span class="sr-only">(current)</span></a>
<a class="nav-item nav-link" href="{% url 'nosotros' %}">NOSOTROS</a>
<a class="nav-item nav-link" href="{% url 'servicio' %}">SERVICIOS</a>
<a class="nav-item nav-link" href="{% url 'ubicacion' %}">UBICACIÓN</a>
{% endblock %}

<!-- BLOC CONTENIDO -->
{% block contenido %}
<section>
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- IMAGENES -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'core/img/banner/banner1.png' %}" alt="First slide">
            </div>
            <div class="carousel-item">
                <img src="{% static 'core/img/banner/banner2.png' %}" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img src="{% static 'core/img/banner/banner3.png' %}" alt="Third slide">
            </div>
        </div>
        <!-- PREV - NEXT -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <div class="btn-icons">
                <span class="carousel-control-prev-icon"></span>
                <span class="sr-only">Next</span>
            </div>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <div class="btn-icons">
                <span class="carousel-control-next-icon"></span>
                <span class="sr-only">Next</span>
            </div>
        </a>
    </div>
</section>

<!-- CONTENIDO -->
<div id="contenido">
    <div id="servicios" class="servicios">
        <div class="servicio">
            <div id="container" class="container">
                <img src="{% static 'core/img/Genericas/generica.jpg' %}" alt="">
                <div class="detalle">
                    <a id="tit">LAVADO<br></a>
                    <a id="detalle">Lavado del vehiculo + accesorios<br></a>
                </div>
            </div>
        </div>
        <div class="servicio">
            <div id="container" class="container">
                <img src="{% static 'core/img/Genericas/generica.jpg' %}" alt="">
                <div class="detalle">
                    <a id="tit">DESABOLLADURA<br></a>
                    <a id="detalle">Arreglo de una parte del vehiculo + accesorios<br></a>
                </div>
            </div>
        </div>
        <div class="servicio">
            <div id="container" class="container">
                <img src="{% static 'core/img/Genericas/generica.jpg' %}" alt="">
                <div class="detalle">
                    <a id="tit">ARREGLO<br></a>
                    <a id="detalle">Arreglo en particular + accesorios<br></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}