{% extends 'core/base.html' %}
{% load static %}
{% block css %}
<title>INGRESO</title>
<link rel="stylesheet" href="{% static 'core/css/formulario.css' %}">
{% endblock %}

<!-- BLOC NAV -->
{% block nav%}
<a class="nav-item nav-link" href="{% url 'index' %}">INICIO <span class="sr-only">(current)</span></a>
<a class="nav-item nav-link" href="{% url 'nosotros' %}">NOSOTROS</a>
<a class="nav-item nav-link" href="{% url 'servicio' %}">SERVICIOS</a>
<a class="nav-item nav-link" href="{% url 'ubicacion' %}">UBICACIÓN</a>
{% endblock %}

<!-- BLOC CONTENIDO -->
{% block contenido %}
<!-- FORMULARIO LOGIN-->
<div id="contenido">
    <section class="form">
        <form action="" method="get" id="formularioIngreso">
            <h1 class="title"><b>INGRESO</b></h1>

            <label for="txtUser"><b>USUARIO</b></label>
            <div class="form-group">
                <input class="control" type="text" name="txtUser" id="txtUser" placeholder="Ingrese su usuario">
            </div>
            <br>
            <label for="txtPass"><b>CONTRASEÑA</b></label>   
            <div class="form-group">
                <input class="control" type="password" name="txtPass" id="txtPass" placeholder="Ingrese su clave">
            </div>

            <div class="form-group">
                <div class="d-flex flex-column">
                    <input class="btn btn-dark" type="submit" value="Enviar" id="btnIngre">INGRESAR</a>
                </div>
            </div>


            <!--FORMULARIO REGISTRO-->
            <div id="link">
                <a href="registro.html" style="text-decoration: none; color: white;"><b>REGISTRO</b></a>
            </div>
        </form>
    </section>
</div>
{% endblock %}