{% extends 'core/base.html' %}
{% load static %}
{% block css %}
<title>UBICACION</title>
<link rel="stylesheet" href="{% static 'core/css/ubicacion.css' %}">
{% endblock %}

<!-- BLOC NAV -->
{% block nav%}
<a class="nav-item nav-link" href="{% url 'index' %}">INICIO <span class="sr-only">(current)</span></a>
<a class="nav-item nav-link" href="{% url 'nosotros' %}">NOSOTROS</a>
<a class="nav-item nav-link" href="{% url 'servicio' %}">SERVICIOS</a>
<a class="nav-item nav-link active" href="{% url 'ubicacion' %}">UBICACIÓN</a>
{% endblock %}

<!-- BLOC CONTENIDO -->
{% block contenido %}
<!-- MAPA -->
<div id="contenido">
    <article>
        <h1 class="title"><b>UBICACIÓN</b></h1>
        <p id="parrafo"><b>AVENIDA CONCHA Y TORO, AV. SAN CARLOS 1340,<br>PUENTE ALTO, REGIÓN METROPOLITANA</b></p>
        <div class="map-responsive">
            <iframe id="mapa"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13293.067069136423!2d-70.5785959!3d-33.5983822!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x893f58a1479b8f82!2sDuoc%20UC%3A%20Sede%20Puente%20Alto!5e0!3m2!1ses-419!2scl!4v1601129997185!5m2!1ses-419!2scl"
                frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </article>
</div>

<!-- COMO LLEGAR -->
<div class="backaside">
    <aside>
        <h2 class="sub-title"><b>¿COMÓ LLEGAR?</b></h2>
        <p id="parrafo">1) Quisque elementum nulla sit amet congue viverra. Nullam sagittis fermentum risus.
            Vestibulum nec enim lectus. Pellentesque nec sagittis.
            <br>
            2) Pellentesque pulvinar lacinia libero in mattis. Cras venenatis varius porttitor. Aliquam magna. <br>
            3) Nullam sed ullamcorper tellus <br>
            4) Vivamus iaculis gravida elit vitae bibendum. Donec ultricies odio non auctor varius. Maecenas laoreet
            lobortis ultricies. Nunc non pharetra nulla. Morbi lectus ligula, sagittis.
        </p>
    </aside>
</div>
{% endblock %}